{
  "name": "atmo-api",
  "version": "1.0.0",
  "description": "Atmo generated API",
  "main": "index.js",
  "scripts": {
     "start": "node server.js"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "express": "^4.13.4"
  }
}
