var express = require('express');
var app = express();
var http = require('http');
var server = http.createServer(app);
var port = 5555;

app.get('/status', function internalStaus(req, res){
	res.send('API server running.');
});  

server.listen(port, function () {
    console.log('API is available at: http://localhost:' + port);
});

