body {
  background-color: #E7E6E6;
}

.hermesHeader {
  background-color: #003366 !important;
}

.hermesDashboard {
  margin-left: auto;
  margin-right: auto;
}

.endpointTypeDropdown {
  width: 105px;
}

.endpointSidebarLabel {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:75%;
  display:inline-block;
}

.deployButton {  
    color: white !important;
    background-color: #155DCC !important;
}

.exportImportLabel {
  color: #91D0FF !important;
}

.exportProjectButton {
  height: 36px;
  padding-top: 12px !important;
}

.panelField {
  margin-bottom: 10px;
}
