body {
  background-color: #E7E6E6;
}

.hermesHeader {
  background-color: #003366 !important;
}

.hermesDashboard {
  margin-left: auto;
  margin-right: auto;
}

.endpointTypeDropdown {
  width: 105px;
}
